Source: rta
Maintainer: Frederic Roussel <fr.frasc@gmail.com>
Section: libs
Priority: optional
Standards-Version: 3.9.5
Build-Depends: debhelper (>= 9), flex, bison
Homepage: http://www.linuxappliancedesign.com/projects/rta

Package: rta
Architecture: any
Depends:
 ${misc:Depends},
 ${shlibs:Depends}
Description: Run-Time Access
 Library allowing to expose program internal data structures as database tables.

Package: rta-dev
Architecture: any
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
 rta (= ${binary:Version}),
 libpq-dev
Description: Development files for rta
 Library allowing to expose program internal data structures as database tables.
 .
 This package provides the development files for rta.

Package: rta-dbg
Architecture: any
Section: debug
Priority: extra
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
 rta (= ${binary:Version})
Description: Debugging symbols for rta
 Library allowing to expose program internal data structures as database tables.
 .
 This package provides the debugging symbols for rta.

Package: rta-examples
Architecture: all
Depends:
 ${misc:Depends}
Recommends:
 rta-dev (= ${binary:Version}),
 libpq-dev
Description: Example programs for rta.
 Library allowing to expose program internal data structures as database tables.
 .
 This package provides examples fo rta.

Package: rta-doc
Architecture: all
Section: doc
Depends:
 ${misc:Depends}
Recommends:
 libpq-dev
Description: Documentation for rta.
 Library allowing to expose program internal data structures as database tables.
 .
 This package provides documentation for rta.

