#!/usr/bin/make -f

export DH_VERBOSE = 1
export DH_OPTIONS = -v

# Top directory of the source code.
SRCTOP    := $(shell if [ "$$PWD" != "" ]; then echo $$PWD; else pwd; fi)
# Destination directory where files will be installed.
DESTDIR   = $(SRCTOP)/debian

include /usr/share/dpkg/default.mk

PKGS=rta
PKGS+=rta-dev
PKGS+=rta-doc
PKGS+=rta-dbg
PKGS+=rta-examples

# There is no runnable test.
# So, the DEB_BUILD_OPTIONS 'nocheck' can be ignored.
MAKETEST := no

export DEBUG=

#----- nothing to do per default
all:

#----- clean the build
clean:
	dh_testdir
	rm -f *-stamp*
	for i in src test; do \
	  cd $$i; \
	  make clean; \
	  cd ..; \
	done
	for i in $(PKGS); do \
	  rm -fr debian/$$i; \
	done
	rm -f debian/files debian/*.log debian/*.substvars debian/*.debhelper

#----- build for all packages

# Provides the require build-arch and build-indep entries.
build-arch: build

build-indep: build

build: build-stamp

build-stamp: $(foreach v,$(PKGS),build-stamp-$(v))
	touch $@

# Actually the only compilation that happens is in the main source tree.
# But we have a hook to add more build actions when needed.
build-stamp-%: PKG=$*
build-stamp-%:
	dh_testdir
	dh_prep -p $(PKG)
	@echo "*** Debian *** building package $(PKG)"
	if [ $(PKG) = rta ]; then            \
	  $(MAKE) -C src;                    \
	fi
	touch $@

#----- install the result of the build into the package staging directoty.

install: install-stamp

#	dpkg-gencontrol -P$(DESTDIR)/$(PKG) -p$(PKG)
install-stamp: $(foreach v,$(PKGS),install-stamp-$(v))
	for i in $(PKGS); do \
	  install -m 644 README $(DESTDIR)/$$i/usr/share/doc/$$i; \
	  install -m 644 debian/copyright $(DESTDIR)/$$i/usr/share/doc/$$i; \
	done
	dh_installchangelogs ChangeLog
	dh_compress -X.c -X.php
	dh_fixperms
	dh_makeshlibs
	dh_shlibdeps
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	touch $@

install-stamp-rta:
	dh_testdir
	dh_testroot
	dh_installdirs
	@echo "*** Debian *** installing package rta"
	$(MAKE) -C src install-so DESTDIR=$(DESTDIR)/rta INSTDIR=usr
	dh_strip --dbg-package=rta-dbg
	touch $@

install-stamp-rta-dev:
	@echo "*** Debian *** installing package rta-dev"
	$(MAKE) -C src install-dev DESTDIR=$(DESTDIR)/rta-dev INSTDIR=usr
	touch $@

install-stamp-rta-doc:
	@echo "*** Debian *** installing package rta-doc"
	install -m 644 doc/* $(DESTDIR)/rta-doc/usr/share/doc/rta-doc/html
	touch $@

install-stamp-rta-examples:
	@echo "*** Debian *** installing package rta-examples"
	install -m 644 table_editor/* $(DESTDIR)/rta-examples/usr/share/doc/rta-examples/table_editor
	install -m 644 test/* $(DESTDIR)/rta-examples/usr/share/doc/rta-examples/test
	touch $@

install-stamp-rta-dbg:
	@echo "*** Debian *** installing package rta-dbg"
	@echo "actually generated with 'dh_strip' earlier"
	touch $@

#----- generate the binary packages.

binary-indep: binary

binary-arch: binary

binary: install binary-stamp

binary-stamp: $(foreach v,$(PKGS),binary-stamp-$(v))
	touch $@

binary-stamp-%: PKG=$*
binary-stamp-%:
	dh_testdir
	dh_testroot
	dpkg-deb -b $(DESTDIR)/$(PKG) ../
	touch $@

.PHONY: binary binary-arch binary-indep clean build build-arch build-indep install

