#!/usr/bin/make -f

export DH_VERBOSE = 1
export DH_OPTIONS = -v

# Top directory of the source code.
SRCTOP    := $(shell if [ "$$PWD" != "" ]; then echo $$PWD; else pwd; fi)
# Destination directory where files will be installed.
DESTDIR   = $(SRCTOP)/debian

include /usr/share/dpkg/default.mk

PKGS=librta3
PKGS+=librta3-dev
PKGS+=librta3-doc
PKGS+=librta3-dbg
PKGS+=librta3-examples

# There is no runnable test.
# So, the DEB_BUILD_OPTIONS 'nocheck' can be ignored.
MAKETEST := no

export DEBUG=

#----- nothing to do per default
all:

#----- clean the build
clean:
	dh_testdir
	rm -f *-stamp*
	for i in src test; do \
	  cd $$i; \
	  make clean; \
	  cd ..; \
	done
	for i in $(PKGS); do \
	  rm -fr debian/$$i; \
	done
	rm -f debian/files debian/*.log debian/*.substvars debian/*.debhelper

#----- build for all packages

# Provides the require build-arch and build-indep entries.
build-arch: build

build-indep: build

build: build-stamp

build-stamp: $(foreach v,$(PKGS),build-stamp-$(v))
	touch $@

# Actually the only compilation that happens is in the main source tree.
# But we have a hook to add more build actions when needed.
build-stamp-%: PKG=$*
build-stamp-%:
	dh_testdir
	dh_prep -p $(PKG)
	@echo "*** Debian *** building package $(PKG)"
	if [ $(PKG) = librta3 ]; then            \
	  $(MAKE) -C src;                    \
	fi
	touch $@

#----- install the result of the build into the package staging directoty.

install: install-stamp

#	dpkg-gencontrol -P$(DESTDIR)/$(PKG) -p$(PKG)
install-stamp: $(foreach v,$(PKGS),install-stamp-$(v))
	for i in $(PKGS); do \
	  install -m 644 README $(DESTDIR)/$$i/usr/share/doc/$$i; \
	  install -m 644 debian/copyright $(DESTDIR)/$$i/usr/share/doc/$$i; \
	done
	dh_installchangelogs ChangeLog
	dh_compress -X.c -X.php
	dh_fixperms
	dh_makeshlibs
	dh_shlibdeps
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	touch $@

install-stamp-librta3:
	dh_testdir
	dh_testroot
	dh_installdirs
	@echo "*** Debian *** installing package librta3"
	$(MAKE) -C src install-so DESTDIR=$(DESTDIR)/librta3 INSTDIR=usr
	dh_strip --dbg-package=librta3-dbg
	touch $@

install-stamp-librta3-dev:
	@echo "*** Debian *** installing package librta3-dev"
	$(MAKE) -C src install-dev DESTDIR=$(DESTDIR)/librta3-dev INSTDIR=usr
	touch $@

install-stamp-librta3-doc:
	@echo "*** Debian *** installing package librta3-doc"
	install -m 644 doc/* $(DESTDIR)/librta3-doc/usr/share/doc/librta3-doc/html
	touch $@

install-stamp-librta3-examples:
	@echo "*** Debian *** installing package librta3-examples"
	install -m 644 table_editor/* $(DESTDIR)/librta3-examples/usr/share/doc/librta3-examples/table_editor
	install -m 644 test/* $(DESTDIR)/librta3-examples/usr/share/doc/librta3-examples/test
	touch $@

install-stamp-librta3-dbg:
	@echo "*** Debian *** installing package librta3-dbg"
	@echo "actually generated with 'dh_strip' earlier"
	touch $@

#----- generate the binary packages.

binary-indep: binary

binary-arch: binary

binary: install binary-stamp

binary-stamp: $(foreach v,$(PKGS),binary-stamp-$(v))
	touch $@

binary-stamp-%: PKG=$*
binary-stamp-%:
	dh_testdir
	dh_testroot
	dpkg-deb -b $(DESTDIR)/$(PKG) ../
	touch $@

.PHONY: binary binary-arch binary-indep clean build build-arch build-indep install

