#!/usr/bin/make -f

export DH_VERBOSE=1
export DH_OPTIONS=-v

# Top directory of the source code.
SRCTOP    := $(shell if [ "$$PWD" != "" ]; then echo $$PWD; else pwd; fi)
# Destination directory where files will be installed.
DESTDIR   = $(SRCTOP)/debian/$(package)

# Definition of directories
BIN_DIR = $(DESTDIR)/usr/bin
SHARE_DIR = $(DESTDIR)/usr/share/$(package)
DOCS_DIR = $(DESTDIR)/usr/share/doc/$(package)
MAN_DIR = $(DESTDIR)/usr/share/man/man3

ifneq (,$(wildcard /usr/share/dpkg/default.mk))
  include /usr/share/dpkg/default.mk
else
  DEB_HOST_ARCH_OS ?= $(shell dpkg-architecture -qDEB_HOST_ARCH_OS)
  DEB_HOST_GNU_TYPE ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
  DEB_BUILD_GNU_TYPE ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)
  DEB_HOST_ARCH_CPU ?= $(shell dpkg-architecture -qDEB_HOST_ARCH_CPU)
  DEB_VENDOR := $(shell dpkg-vendor --query vendor)

  CFLAGS := -Wall -g
  ifneq (,$(filter noopt,$(DEB_BUILD_OPTIONS)))
    CFLAGS += -O0
  else
    CFLAGS += -O2
  endif

  DEB_VERSION_UPSTREAM := $(shell dpkg-parsechangelog | sed -n '/^Version:/{s/Version: *\([^:]*:\)\?\([^-]*\)-.*/\2/;p;q}')
endif

VARIANTS=rta
VARIANTS+=rta-dev
VARIANTS+=rta-doc
VARIANTS+=rta-dbg
VARIANTS+=rta-examples

# There is no runnable test.
# So, the DEB_BUILD_OPTIONS 'nocheck' can be ignored.
MAKETEST := no

ifeq ($(DEB_VENDOR),Ubuntu)
  :
else
  :
endif

# nothing to do per default
all:

clean:
	dh_testdir
	rm -f *-stamp-rta*
	for i in src test; do \
	  cd $$i; \
	  make clean; \
	  cd ..; \
	done
	rm -fr debian/rta*
	rm -f debian/files
	rm -f debian/substvars

build: build-stamp-arch
build-arch: build-stamp-arch
build-stamp-arch: $(foreach v,$(VARIANTS),$(shell echo "v - $v"))
build-stamp-arch: $(foreach v,$(VARIANTS),build-stamp-$(v))
	dh_testdir
	touch $@

build-stamp-rta: CURCFLAGS=$(CFLAGS_$*)
build-stamp-rta:
	dh_testdir
	dh_prep -p rta
	@echo "*** DEBIAN *** BUILDING VARIANT $*"
	$(MAKE) -C src
	touch $@

build-stamp-rta-dev: CURCFLAGS=$(CFLAGS_$*)
build-stamp-rta-dev:
	dh_testdir
	dh_prep -p rta-dev
	@echo "*** DEBIAN *** BUILDING VARIANT $*"
	$(MAKE) -C src
	touch $@

build-stamp-rta-doc: CURCFLAGS=$(CFLAGS_$*)
build-stamp-rta-doc:
	dh_testdir
	dh_prep -p rta-doc
	@echo "*** DEBIAN *** BUILDING VARIANT $*"
	$(MAKE) -C src
	touch $@

build-stamp-rta-dbg: CURCFLAGS=$(CFLAGS_$*)
build-stamp-rta-dbg:
	dh_testdir
	dh_prep -p rta-dbg
	@echo "*** DEBIAN *** BUILDING VARIANT $*"
	$(MAKE) -C src
	touch $@

build-stamp-rta-examples: CURCFLAGS=$(CFLAGS_$*)
build-stamp-rta-examples:
	dh_testdir
	dh_prep -p rta-examples
	@echo "*** DEBIAN *** BUILDING VARIANT $*"
	$(MAKE) -C test
	touch $@

install: $(foreach v,$(VARIANTS),install-stamp-$(v))

